{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<main id="main">
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Aman Goyal</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Developer, Engineer, Student"></span></p>
    </div>

    <div class="social-icons" data-aos="fade-in">
      <a class="social-icon" href="https://www.linkedin.com/in/ln-amangoyal/"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" href="https://github.com/goyal-aman"><i class="fab fa-github"></i></a>
      <a class="social-icon" href="https://twitter.com/_goyalaman"><i class="fab fa-twitter"></i></a>
      <a class="social-icon" href="https://dev.to/goyalaman"><i class="fab fa-dev"></i></a>
      <a class="social-icon" href="https://blog.amangoyal.ml/">
        <iconify-icon data-icon="cib-hashnode"></iconify-icon>
      </a>
    </div>

  </section><!-- End Hero -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about" data-aos="fade-in">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>
          Fresher with in-depth knowledge of languages and development tools. I am skilled at working and collaborating
          with teams.
          Looking to start the career in an entry-level position to prove my abilities.

        </p>
      </div>

  </section><!-- End Hero -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about" data-aos="fade-in">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>
          Fresher with in-depth knowledge of languages and development tools.
          I am skilled at working and collaborating with teams. Looking to start the career
          in an entry-level position to prove my abilities.
        </p>
      </div>
      <div class="col-xl-12 col-lg-8 col-md-8 pt-4 pt-lg-0 content" data-aos="fade-in">
        <h3>Software Developer.</h3>
        <p class="font-italic">
          I'm pre final year engineering student. Self taught Software Developer. I post and share content related
          to Python, Django and much more.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 18th Dec 1999</li>
              <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.amangoyal.ml</li>
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 8076968355</li>
              <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Delhi, In</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 21</li>
              <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor's (Persuing)</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> amangoyal8110@gmail.com</li>
              <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
            </ul>
          </div>
        </div>
        <p>I love reading,
          creating new stuff every day. Curiosity drives me.
          Always up for new challenges. I am quick to learn
          and willing to adapt to any job.
        </p>
      </div>
    </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Stats Section ======= -->
  <section id="stats" class="stats">
    <div class="container">

      <div class="section-title">
        <h2>Stats</h2>
        <p>Did 9 Projects counting to 412+ hours of skill-fully invested time since March 2020. Accouting for 200+
          commits on github and 3 Blog Post ( Available on Dev.to and blog.amangoyal.ml ).</p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">
              <p>247</p>
            </span>
            <p><strong>Commits</strong> on gitub</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">9</span>
            <p><strong>Projects,</strong> details in project page. Source code available on github</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="icofont-blogger"></i>
            <span data-toggle="counter-up">3</span>
            <p><strong>Blog Post,</strong> available on hashnode, dev.to, medium</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="count-box">
            <!-- <i class="icofont-users-alt-5"></i> -->
            <i class="icofont-clock-time"></i>
            <!-- <span data-toggle="counter-up">412&nbsp+</span> -->
            <span data-toggle="counter-up">412</span>
            <p><strong>Hours</strong> invested in 2020 </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->


  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Enthusiastic Software Developer eager to
          contribute to team success through hard work,
          attention to detail and excellent organizational
          skills. Proven skills in leadership. I love reading,
          creating new stuff every day. Curiosity drives me.
          Always up for new challenges. I am quick to learn
          and willing to adapt to any job.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-in">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Aman Goyal</h4>
            <p><em>Innovative and deadline-driven experience of developing client oriented products from initial
                concept to final, polished deliverable.</em></p>
            <ul>
              <li>Delhi, India</li>
              <li>+91 - 8076968355</li>
              <li>amangoyal8110@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Technology &amp; Electronics And Communication Engineering</h4>
            <h5>2018 - 2022</h5>
            <p><em>Bhagwan Parshuram Institute of Technology, Rohini, Delhi, In</em></p>
            <ul>
              <li>Member of International Organization of Software Developer, BPIT </li>
              <li>Elected Captain of Smart India Hackathon </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-in" data-aos-delay="0">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Python Django Developer</h4>
            <h5>May 2020 - Nov 2020</h5>
            <p><em>Hackveda, Delhi, Delhi </em></p>
            <ul>
              <li>Developed backend systems and API's through consistent hard work and dedication to organization.
              </li>
              <li>Improved old code base ensuring high levels of productivity and progression. </li>
              <li>Handled day-to-day running of projects. </li>
              <li>Worked with customers to understand needs and provide excellent product. </li>
              <li>Managed team of 5, overseeing training, and professional growth. </li>
              <li>Participated in continuous improvement by
                generating suggestions, engaging in problemsolving activities to support teamwork. </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <!-- </section> -->
    <!-- End Resume Section -->
    <!-- ======= Skills Section ======= -->
    <!-- <section id="skills" class="skills section"> -->
    <div id="skills" class="container skills section">

      <div class="section-title">
        <h2>Skills</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-in">

          <div class="progress">
            <span class="skill">Python <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">C/C++ <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-in" data-aos-delay="0">

          <div class="progress">
            <span class="skill">Java <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Git <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Portfolio Section ======= -->

  <section id="projects" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Projects</h2>
        <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
              consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
              in iste officiis commodi quidem hic quas.</p>-->
      </div>

      <!--
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
                <li data-filter=".filter-text">Text</li>
              </ul>
          </div>
        </div>
      -->

      <div class="row portfolio-container" data-aos="" data-aos-delay="">
        {% for project in project_data %}
        {% include 'landingpage/snippets/project_card.html' with heading=project.heading url=project.image_link live_link=project.live_link details_link=project.details_link %}
        {% endfor %}

      </div>

    </div>
  </section> -->
  <!-- End Portfolio Section -->

  <!-- ======= Services Section ======= -->
  <!--    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
              occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="icofont-image"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="icofont-settings"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="icofont-tasks-alt"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
              soluta nobis est eligendi</p>
          </div>
        </div>

      </div>
    </section>
  -->
  <!-- End Services Section -->

  <!-- ======= Testimonials Section ======= -->
  <!-- <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item" data-aos="fade-up">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
              quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
              quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
              labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
              dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
              labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>

        </div>

      </div>
    </section> -->
  <!-- End Testimonials Section

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>Delhi, India</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>amangoyal8110@gmail.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+91 8076968355</p>
            </div>

            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
          </div>

        </div>

        <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email"
                    data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required"
                  data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div> -->

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}