{% load static %}
<div class="col-lg-4 col-md-6 portfolio-item filter-text" >
    <div class="portfolio-wrap">

        <!-- TODO : add defualt image url -->
        <!-- THIS IS PROJECT THUMBNAIL -->
        <img src={{url}} class="img-fluid" alt="" style="width: 100%; height: 20vh; border-top-left-radius: 10px; border-top-right-radius: 10px;">


        <div class="portfolio-links">
            {% if live_link %}
                <a href="{{live_link}}" data-gall="portfolioGallery" class="" title="Live Project"><i class="bx bx-plus"></i></a>
            {% endif %}
            {% if details_link %}
                <a href="{{details_link}}" title="More Details"><i class="bx bxs-file"></i></a>
            {% endif %}
        </div>
        <h6 style="align-items: center; text-align: left; padding-top:5px; padding-left:1px; padding-bottom:5px; background-color: rgb(2, 6, 73); color:white; s"><b>{{heading|title}}</b></h6>
    </div>
</div>