<div class="row timeline-right">
    <div class="col-md-6">
        <p class="timeline-date">
            {{date|date:"F  "}}
        </p>
    </div>
    <div class="col-md-6">
        <div class="timeline-box">
            <div class="timeline-icon">
                <i class="fa fa-gift"></i>
            </div>
            <div class="timeline-text">
                <center>
                <h3>{{heading|title }}</h3>
                </center>
            <p align="justify">{{body}}</p>
            {% if url %}
                <p align="right"><a href={{url}} class="btn btn-sm btn-secondary">click here</a></p>          
            {% endif %}   
            </div>
        </div>
    </div>
</div>